<!DOCTYPE html>
<html>
	<head>
		<%= require('./common/meta.ejs')({htmlWebpackPlugin}) %>
		<title>home</title>
        <%= require('./common/style.ejs')({htmlWebpackPlugin,compilation}) %>
	</head>
	<body>
		<%= require('./common/header.ejs')({cur:1}) %>
		home
		<%= require('./common/footer.ejs')() %>
	</body>
    <%= require('./common/js.ejs')({htmlWebpackPlugin,compilation}) %>
</html>