<!DOCTYPE html>
<html>
	<head>
		<%= require('@/pages/common/meta.ejs')({htmlWebpackPlugin}) %>
		<title>vuedemo</title>
        <%= require('@/pages/common/style.ejs')({htmlWebpackPlugin,compilation}) %>
	</head>
	<body>
		<%= require('@/pages/common/header.ejs')({cur:2,htmlWebpackPlugin}) %>
        <div id="app">
            <div v-for="item in list">{{item}}</div>
            <my-img></my-img>
        </div>
        
		<%= require('@/pages/common/footer.ejs')({htmlWebpackPlugin}) %>
	</body>
    <%= require('@/pages/common/js.ejs')({htmlWebpackPlugin,compilation}) %>
</html>