<!DOCTYPE html>
<html>
	<head>
		<%= require('@/pages/common/meta.ejs')({htmlWebpackPlugin}) %>
		<title>index</title>
        <%= require('@/pages/common/style.ejs')({htmlWebpackPlugin,compilation}) %>
	</head>
	<body>
		<%= require('@/pages/common/header.ejs')({cur:0,htmlWebpackPlugin}) %>
		<video style="height:200px" controls src="${require('@/assets/medias/video.mp4')}"></video>
		<div class="tt"></div>
        <%=htmlWebpackPlugin.options.path%><br/>
        <a href="./test.html">链接到同级页面</a><br/>
        <a href="./test/test.html">链接到二级页面</a><br/>
        <a href="./test/test/test.html">链接到三级页面</a><br/>
        
		<%= require('@/pages/common/footer.ejs')({htmlWebpackPlugin}) %>
	</body>
    
    <%= require('@/pages/common/js.ejs')({htmlWebpackPlugin,compilation}) %>
</html>