<!DOCTYPE html>
<html>
	<head>
		<%= require('@/pages/common/meta.ejs')({htmlWebpackPlugin}) %>
		<title>test</title>
        <%= require('@/pages/common/style.ejs')({htmlWebpackPlugin,compilation}) %>
	</head>
	<body>
		<%= require('@/pages/common/header.ejs')({cur:null,htmlWebpackPlugin}) %>
	
        1、${htmlWebpackPlugin.options.path}<br/>
				2、${htmlWebpackPlugin.path}<br/>
				3、<%=htmlWebpackPlugin.options.path%><br/>
				4、<%=htmlWebpackPlugin.path%><br/>
        我是同级页面
        
		<%= require('@/pages/common/footer.ejs')({htmlWebpackPlugin}) %>
	</body>
    
    <%= require('@/pages/common/js.ejs')({htmlWebpackPlugin,compilation}) %>
</html>